@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --first:hsl(31, 77%, 52%);
    --second:hsl(184, 100%, 22%);
    --third: hsl(179, 100%, 13%);
}

body, html{
  background-color: hsla(0, 0%, 100%, 0.75) ; 
    width: 100%;
    height: 100%;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    line-height: 1.6;
}

h1{
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
}

p{
  color: hsla(0, 0%, 100%, 0.75) ; 
}
nav ul li {
    list-style: none;
margin: 0 10px;

}

nav{
    /* background-color: gray; */
    border-bottom: 3px solid var(--third);
    font-size: 20px;

}
nav a{
    padding: 5px;
    text-decoration: none;
    color: var(--third);
    text-transform: uppercase;
border-left: 3px solid var(--third);
border-right: 3px solid var(--third);
}
nav a:hover{
    color: var(--first);
    border-left: 3px solid var(--first);
border-right: 3px solid var(--first);
}
.head-text h1{
    color: var(--third);
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#active{
    background-color: var(--second);
    color: white;
}
#active:hover{
    color: var(--first);
}

.container{
    display: flex;
width: 1000px;
justify-content: center;


}

main{
    height: 100%;
    display: flex;
align-items: center;
justify-content: center;


}
.flex-col{
    display: flex;
    flex-direction: column;
  gap: 40px;
}


.sedan{
    background-color:var(--first);
   
}
.suv{
    background-color:var(--second);
   
}
.luxury{
    background-color:var(--third);
   
}

.pd{
    padding: 40px; 
}

button{
    cursor: pointer;
    margin-top: 50px;
    mix-blend-mode: screen;
    background-color: hsl(0, 0%, 95%);
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
}

button:hover{
background-color: transparent;
color: white;
border: 1px solid hsl(0, 0%, 95%);
}
/* CSS GRID */
.grid{
    width: 100%;
    height: 60vh;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
  grid-template-areas: 
  'box1 box1 box2'
  'box3 box4 box4'
  'box3 box5 box5'
  
  ;
    gap: 5px;
}



.box1{
    grid-area:box1;
}

.box2{
    grid-area:box2;
}

.box3{
    grid-area:box3;
}
.box4{
    grid-area:box4;
}

.box5{
    grid-area:box5;
}



