:root{
    --primary:#17252a;
    --secondary:#3aafa9;
    --extra:rgb(255, 166, 0);
    --text:rgb(223, 249, 253);
    --background-image:url(/images/bg-intro-desktop.png) ;
}

/* .btn{} */

.bg-primary{
    background-color: var(--primary);
    color: rgb(223, 249, 253);
}

.bg-secondary{
    background-color: #3aafa9;
    color: white;
}



.text-center{
  text-align: center;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.flex-col{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}



/* padding top&bottom */
.py-sm {
    padding: 10px 0;
  }
  .py-md {
    padding: 20px 0;
  }
  .py-lg {
    padding: 40px 0;
  }
  /* padding left&rigth */
  .px-sm {
    padding: 0 10px ;
  }
  .px-md {
    padding: 0 20px ;
  }
  .px-lg {
    padding:0 40px ;
  }